<div id="battle-btn-div">
    <button class="battle-btn" *ngIf="in_battle==true" (click)="refresh()">Go to start!</button>
</div>

<div class="players">
    <div class="forCorners" [ngStyle]="{'background-color': buttonColor1}">
        <div class="playerBox">
            <div *ngIf="!gotPlayerOne && !isLoading1 && !errorUser1" class="player-input">

                <form (submit)="getPlayerOne()">
                    <label>Player 1</label>
                    <br><br>
                    <input type="text" name="pOne" required placeholder="GitHub username" [(ngModel)]="playerOneUsername">
                    <br><br>
                    <input type="submit" value="Load User">
                </form>

            </div>

            <ng-container *ngIf="!isLoading1; else loadingState">
                <ng-container *ngIf="!errorUser1; else errorMessage1">
                    <div *ngIf="gotPlayerOne" class="userInfo">
                        <img src={{playerOneInfo.avatar_url}} class="avatar">
                        <h3>{{playerOneInfo.name}}</h3>
                        <p>Username: {{playerOneInfo.login}}</p>
                        <button *ngIf="in_battle==false" class="battle-btn" (click)="resetFirstUser()">Reset</button>

                        <div class="details" *ngIf="in_battle==true">

                            <h3>Score: {{ player1_score }}</h3>
                            <br>
                            <p *ngIf="playerOneInfo.location">Location: {{playerOneInfo.location}}</p>
                            <p *ngIf="playerOneInfo.blog">Blog: {{playerOneInfo.blog}} </p>
                            <p *ngIf="playerOneInfo.bio">Bio: {{playerOneInfo.bio}}</p>
                            <p>Followers: {{playerOneInfo.followers}}</p>
                            <p>Public repositories: {{playerOneInfo.public_repos}}</p>
                            <p>Stars: {{ stars1 }}</p>
                            <p>Most used language: {{ language1 }}</p>
                            <br>
                            <span>
                                <h4>Repositories:</h4>
                                <p *ngFor="let repo of repoNames1">{{ repo }}</p>
                            </span>

                        </div>
                    </div>
                </ng-container>
                <div *ngIf="winner==1" class="winner">WINNER</div>
            </ng-container>

            <ng-template #loadingState>
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </ng-template>

            <ng-template #errorMessage1>
                <div class="errorMessage">
                    <h3 style="font-family: 'Josefin Sans', sans-serif;">ERROR:</h3>
                    <p>Username {{ playerOneUsername }} doesn't exist!</p>
                    <button class="battle-btn" (click)="resetFirstUser()">Reset</button>
                </div>
            </ng-template>

        </div>
    </div>

    <div *ngIf="winner==3" class="winner">DRAW</div>

    <div class="forCorners" [ngStyle]="{'background-color': buttonColor2}">
        <div class="playerBox">
            <div *ngIf="!gotPlayerTwo && !isLoading2 && !errorUser2" class="player-input">

                <form (submit)="getPlayerTwo()">
                    <label>Player 2</label>
                    <br><br>
                    <input type="text" name="pTwo" required placeholder="GitHub username" [(ngModel)]="playerTwoUsername">
                    <br><br>
                    <input type="submit" value="Load User">
                </form>

            </div>

            <ng-container *ngIf="!isLoading2; else loadingState">
                <ng-container *ngIf="!errorUser2; else errorMessage2">
                    <div *ngIf="gotPlayerTwo" class="userInfo">
    
                        <img src={{playerTwoInfo.avatar_url}} class="avatar">
                        <h3>{{playerTwoInfo.name}}</h3>
                        <p>Username: {{playerTwoInfo.login}}</p>
                        <button *ngIf="in_battle==false" class="battle-btn" (click)="resetSecondUser()">Reset</button>

                        <div class="details" *ngIf="in_battle==true">

                            <h3>Score: {{ player2_score }}</h3>
                            <br>
                            <p *ngIf="playerTwoInfo.location">Location: {{playerTwoInfo.location}}</p>
                            <p *ngIf="playerTwoInfo.blog">Blog: {{playerTwoInfo.blog}} </p>
                            <p *ngIf="playerTwoInfo.bio">Bio: {{playerTwoInfo.bio}}</p>
                            <p>Followers: {{playerTwoInfo.followers}}</p>
                            <p>Public repositories: {{playerTwoInfo.public_repos}}</p>
                            <p>Stars: {{ stars2 }}</p>
                            <p>Most used language: {{ language2 }}</p>
                            <br>
                            <span>
                                <h4>Repositories:</h4>
                                <p *ngFor="let repo of repoNames2">{{ repo }}</p>
                            </span>
                            <br>

                        </div>

                    </div>
                </ng-container>
                <div *ngIf="winner==2" class="winner">WINNER</div>
            </ng-container>

            <ng-template #errorMessage2>
                <div class="errorMessage">
                    <h3 style="font-family: 'Josefin Sans', sans-serif;">ERROR:</h3>
                    <p>Username {{ playerTwoUsername }} doesn't exist!</p>
                    <button class="battle-btn" (click)="resetSecondUser()">Reset</button>
                </div>
            </ng-template>

        </div>
    </div>
</div>

<div id="battle-btn-div">
    <button class="battle-btn" *ngIf="gotPlayerOne && gotPlayerTwo && in_battle==false" (click)="battle()">Battle!</button>
    <!-- <button class="battle-btn" *ngIf="in_battle==true" (click)="refresh()">Go to start!</button> -->
</div>