<div class="players">
    <div class="forCorners" [ngStyle]="{'background-color': buttonColor1}">
        <div class="playerBox">
            <div *ngIf="!gotPlayerOne" class="player-input">

                <form (submit)="getPlayerOne()">
                    <label>Player 1</label>
                    <br><br>
                    <input type="text" name="pOne" required placeholder="GitHub username" [(ngModel)]="playerOneUsername">
                    <br><br>
                    <input type="submit" value="Load User">
                </form>

            </div>

            <ng-container *ngIf="!isLoading1; else loadingState">
                <div *ngIf="gotPlayerOne" class="userInfo">
                    <ng-container *ngIf="!errorUser1; else errorMessage1">
                        <img src={{playerOneInfo.avatar_url}} class="avatar">
                        <h3>{{playerOneInfo.name}}</h3>
                        <p>Username: {{playerOneInfo.login}}</p>
                    </ng-container>
                    <button *ngIf="in_battle==false" class="battle-btn" (click)="resetFirstUser()">Reset</button>
                    <p *ngIf="in_battle==true">Followers: {{playerOneInfo.followers}}</p>
                    <p *ngIf="in_battle==true">Public repositories: {{playerOneInfo.public_repos}}</p>
                    <p *ngIf="in_battle==true">Score: {{ player1_score }}</p>
                </div>
                <div *ngIf="winner==1" class="winner">WINNER</div>
            </ng-container>

            <ng-template #loadingState>
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </ng-template>

            <ng-template #errorMessage1>
                <div class="errorMessage">
                    <h3 style="font-family: 'Josefin Sans', sans-serif;">ERROR:</h3>
                    <p>Username {{ playerOneUsername }} doesn't exist!</p>
                </div>
            </ng-template>

        </div>
    </div>

    <div class="forCorners" [ngStyle]="{'background-color': buttonColor2}">
        <div class="playerBox">
            <div *ngIf="!gotPlayerTwo" class="player-input">

                <form (submit)="getPlayerTwo()">
                    <label>Player 2</label>
                    <br><br>
                    <input type="text" name="pTwo" required placeholder="GitHub username" [(ngModel)]="playerTwoUsername">
                    <br><br>
                    <input type="submit" value="Load User">
                </form>

            </div>

            <ng-container *ngIf="!isLoading2; else loadingState">
                <div *ngIf="gotPlayerTwo" class="userInfo">
                    <ng-container *ngIf="!errorUser2; else errorMessage2">
                        <img src={{playerTwoInfo.avatar_url}} class="avatar">
                        <h3>{{playerTwoInfo.name}}</h3>
                        <p>Username: {{playerTwoInfo.login}}</p>
                    </ng-container>
                    <button *ngIf="in_battle==false" class="battle-btn" (click)="resetSecondUser()">Reset</button>
                    <p *ngIf="in_battle==true">Followers: {{playerTwoInfo.followers}}</p>
                    <p *ngIf="in_battle==true">Public repositories: {{playerTwoInfo.public_repos}}</p>
                    <p *ngIf="in_battle==true">Score: {{ player2_score }}</p>
                </div>
                <div *ngIf="winner==2" class="winner">WINNER</div>
            </ng-container>

            <ng-template #errorMessage2>
                <div class="errorMessage">
                    <h3 style="font-family: 'Josefin Sans', sans-serif;">ERROR:</h3>
                    <p>Username {{ playerTwoUsername }} doesn't exist!</p>
                </div>
            </ng-template>

        </div>
    </div>
</div>

<div id="battle-btn-div">
    <button class="battle-btn" *ngIf="gotPlayerOne && gotPlayerTwo && in_battle==false" (click)="battle()">Battle!</button>
    <button class="battle-btn" *ngIf="in_battle==true" (click)="refresh()">Go to start!</button>
</div>